@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .campaign-card {
        @apply flex flex-col items-start justify-end bg-cover rounded-xl;
    }

    .campaign-card .card-fog {
        @apply relative w-full h-44 top-[5rem] rounded-xl z-0;
    }

    .campaign-card .card-infos {
        @apply relative w-full px-4 h-[5rem] flex -top-16 flex-col z-10;
    }

    .campaign-card .card-infos .date-schedule {
        @apply p-1 pr-2 w-fit my-4 bg-color-primary/default_900 flex items-center text-color-greyScale/50 rounded-lg;
    }

    .campaign-card .card-infos .date-schedule span {
        @apply ml-1;
    }

    .campaign-card .card-infos .card-buttons {
        @apply flex justify-between items-center;
    }

    .campaign-card .card-infos .card-buttons button {
        @apply w-full h-10 px-4;
        font-family: var('--dm-sans-base');
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .campaign-card .card-infos .card-buttons .card-menu {
        @apply flex justify-center items-center w-10 h-10 border border-color-greyScale/300 rounded-lg cursor-pointer;
    }
}
